<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Relevamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class ="boton" color="primary" expand="full" type="button" (click)="selectImage()">Cosas Lindas</ion-button>
  <ion-button class ="boton" color="success" expand="full" type="button" (click)="selectImage()">Cosas Feas</ion-button>
</ion-content>
